@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width: 100vw;
    height: 100vh;
}
body{
    color: black;
    background: transparent;
    transition: .5s;
    overflow-x: hidden;
}
.progress{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.444);
    backdrop-filter: blur(30px);
    display: grid;
    place-items: center;
}
.progress-content{
    max-width: 420px;
    background-color: rgb(0, 0, 0);
    padding: 1.6rem 1.1rem;
    color: white;
    border-radius: 2px;
}
.progress-content h1{
    font-size: 22px;
    padding: 1.2rem 0;
    color: white;
    font-weight: 600;
}
.progress-content p{
    font-size: 16px;
    border-left: 2px solid blueviolet;
    padding-left: 1.2rem;
}
.progress-content button{
    margin:.7rem auto;
    padding: .6rem 2.3rem;
    display: block;
    background-color: rgb(82, 82, 255);
    color: white;
    border: none;
    cursor: pointer;
}
.delete-contain{
    width: 200px;
    margin: 1.1rem auto;
    padding: 1.2rem;
    border: 1px solid rgb(79, 79, 79);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s ease;
}
.delete-contain:hover{
    background-color: red;
    border: none;
    color: white;
}
main{
    width: 100vw;
    height: 100vh;
    overflow: auto;
}
main header{
    width: 100%;
    height: auto;
    padding: .3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main header .web-icon{
    display: flex;
    align-items: center;
}
main header .web-icon img{
    width: 60px;
    margin: .5rem;
}
main header .web-icon h1{
    font-family:  'Rubik Vinyl';
    font-weight: 800;
    color: rgb(0, 0, 0);
    padding: .3rem;
    font-size: 28px;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.128);
}

main header #mode-theme{
    text-align: center;
    font-size: 30px;
    padding: .6rem 1.2rem;
    cursor: pointer;
    transition: 1s ease;
}
main header #mode-theme:hover{
    transform:rotate(20deg) scale(1.2);
}
main #saved{
    width: 50%;
    display: none;
    margin:5px auto;
    background-color: rgb(0, 255, 0);
    text-align: center;
    padding: .5rem;
    color: white;
}
main .add-steps{
    width: 100%;
    padding: 1.5rem;
    text-align: center;
}
main .add-steps > h2{
    font-weight: 600;
    padding: .8rem;
    font-family: 'Poppins';
}
#add-title-steps{
    border: 1px solid rgba(0, 0, 0, 0.459); 
}

main .add-steps .inbox input{
    width: 270px;
    margin: .3rem 2px;
    padding: 1.0rem 1.1rem;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.459);
    border-radius: 5px;
    outline-color: aqua !important;
    background-color: transparent;
}

main .add-steps .inbox input::placeholder{
    color: rgba(169, 169, 169, 0.591);
}
main .add-steps .inbox button{
    width: 150px;
    padding: .9rem 1.3rem;
    background-color: blueviolet;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
    transition: .5s ease;
    font-family: 'Poppins';
    font-weight: 800;
    margin: 5px 0;
}
main .add-steps .inbox button:hover{
    background-color: rgb(55, 29, 80);
}
main .add-steps .inbox button#create-title:disabled, main .add-steps .inbox button#create-title:disabled:hover{
    background-color: #484848;
    color: white;
    cursor: context-menu;
}
.message-permission{
    display: block;
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    padding: .5rem;
    margin: .3rem auto;
    border-radius: 3px;
    width: 50%;
}
main .how-it-works{
    width: 60%;
    margin: auto;
    background-color: rgb(252, 252, 252);
    padding: 1.2rem;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.076);
    font-family: 'Poppins';
    color: darkslategrey;
    /* darkslategrey */
}
main .how-it-works h1{
    padding: .6rem 0;
}
main .how-it-works p{
    font-size: 16px;
}
main .how-it-works p a{
    text-decoration:none;
    color: rgb(197, 135, 255);
    cursor: pointer;
}

main .steps-list{
    padding: 1.2rem;
    border-radius: 2px;
    border: 0;
    width: 60%;
    margin: auto;
    font-family: 'Poppins';
}
#error-input{
    display: none;
    width: 60%;
    margin: auto;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: .5rem;
}
main .steps-list .list h1{
    margin: 12px 0;
    font-family: 'Poppins';
    font-weight: 300;
}
main .steps-list .list .list-options{
    padding-left: 1.3rem;
    margin-bottom: .8rem;
    display: flex;
    align-items: center;
}
main .steps-list .list .list-options input[type=checkbox]{
    appearance: none;
    border: 1px solid rgb(79, 79, 79);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 0 .9rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
}
main .steps-list .list .list-options input[type=checkbox]::after{
    content: '✔';
    color: rgb(0, 255, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    font-size: 16px;
    opacity: 0;
    transition: opacity .1s ease;
    display: grid;
    place-items: center;
}
main .steps-list .list .list-options input[type=checkbox]:checked::after{
    opacity: 100%;
}
main .steps-list .list .list-options label{
    font-size: 16px;
}


@media (max-width: 460px){
    .progress-content{
        width: 350px;
    }
    .message-permission{
        width: 95%;
    }
    main #saved{
        width: 90%;
    }
    main .add-steps .inbox input{
        width: 300px;
    }
    main .add-steps .inbox button{
        width: 300px;
    }
    main .how-it-works{
        width: 95%;
    }
    main .steps-list{
        width: 97%;
    }
}